#title 
{ 
 -fx-Text-Fill : #297E9D;
 -fx-font-size : 18;
 -fx-font-family: 'Arial';
 -fx-border-color: #5BD49A;
 -fx-background-color : white;
  -fx-border-width: 0 0 3 0;
 -fx-padding : 10;


}
#LabelChamps
{ 
 -fx-Text-Fill : black;
 -fx-font-size : 12;
 -fx-font-family: 'Arial';
 -fx-font-weight: Bold;
 
  -fx-border-width: 0;



}
#Champs
{ 
 -fx-Text-Fill : black;
 -fx-font-size : 12;
 -fx-font-family: 'Arial';

 
 
 



}
#name
{
	-fx-Text-Fill :#31bac9;
	-fx-font-size : 21;
}